#div1{
    width:100px;
    height:100px;
    background-color: darksalmon;
    animation-name:ani1 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: normal; */
    animation-direction: alternate;
}
@keyframe ani1{
    0%{
        margin-left:0px;
        margin-top:0px;
        border-radius:0px;
        rotation:0deg;
    }
    100%{
        margin-left:1500px;
        margin-top:0px;
        border-radius:50%;
        rotation:360deg;
    }

}
