*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;

}
#navbar nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

}
#navbar nav ul li a{
    text-decoration: none;

}
#navbar button{
    padding: 10px;
    background-color: red;

}
/* home section start from here */
#home{
    width:100% ;
    height: 100vh;
    border: 1px solid green;
    background-image: url(https://as2.ftcdn.net/v2/jpg/05/28/36/77/1000_F_528367769_C1jxw1xnHhwqR7UZZXnNslEitxY9iN76.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}