@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
._4option div{
    width: 60px;
    height: 60px;
    background-color: darkgoldenrod;
    margin: 20px;
}
._4option{
    position: fixed;
    right:0px;
    top:200px;
}
#phoneicon{
    background-color: black;
    color: blue;
    border: radius 50px; 
    padding:20px;
    font-size: 20px;
    position: fixed;
    right: 100px;
    bottom: 100px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
} 
.navbar article{
    display: flex;
}
.navbar article div{
    margin:10px;
    border: none;
}
.navbar article .free::after{
    content: "Learn More";
    background-color: black;
    color: white;
    font-weight: 600;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
}


.navbar1{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: cornflowerblue;
}
.navbar1 article {
    display: flex;
}
.navbar1 article div{
    border: none;
    margin: 10px;
}
.navbar1 article .free1{
    align-items:left ;
    
    
   
}
.navbar1 .free1{
    background-color: rgb(232, 231, 231);
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}
.navbar2{
    display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: antiquewhite;
}

.free2{
    width: 100px;
}
.navbar3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar3 footer {
    display: flex;
  justify-content: center;
  padding: 5px;
  background-color:blue;
  color: aqua;
  width:400px;
  height: 80px;
}

